

  /* .App-logo {
  height: 40vmin;
  pointer-events: none;
}  */


/* 
.App {
  background-color:hotpink;
} */


.page-heading {
  /* background-color: brown; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}

/* .AppNavigation {
  align-items: center;

} */


.Card1 {
  background-color: blue;

}



/* 

.newApp {
  background-color: blanchedalmond;
  text-align: center;
  background-size: cover; /*całe tło
}*/


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




#moreInf {
  width: 120px;
  height: 60px;
  font-style: oblique;
}


#writingStart {
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-header {
  /* background-color: #dcaae3; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
